<h3>Students list</h3>
<a routerLink="/students/student">Create student</a>
<div>
  <input type="text" class="student-search-input" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="search()" />
</div>
<ol>
  <li *ngFor="let student of studentsToShow">
    <app-student-list-item [student]="student" (click)="studentClicked(student)"></app-student-list-item>
  </li>
</ol>