<body>
        <div class="registration-form">
                <form [formGroup]="form" (ngSubmit)="registration()">
                    <div class="form-group">
                        <label class="registrate">Registrate</label>
                        <!-- <label>Login</label> -->
                        <input type="text" formControlName="login" placeholder="Enter your login"/>
                        <div class="form-error" *ngIf="formSubmitted && form.get('login').errors?.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label>Password</label> -->
                        <input type="password" formControlName="password" placeholder="Enter your password"/>
                        <div class="form-error" *ngIf="formSubmitted && form.get('password').errors?.required">
                            This field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label>Confirm Password</label> -->
                        <input type="password" formControlName="confirmPassword" placeholder="Confirm your password"/>
                        <div class="form-error" *ngIf="formSubmitted && form.get('confirmPassword').errors?.required">
                            This field is required
                        </div>
                    </div>
                    <button type="submit">Log in</button>
                </form>
            </div>
</body>
