<h1>Faculty management</h1>
<div class="faculty-new-form">
  <form [formGroup]="form" (ngSubmit)="addFaculty()">
    <div class="form-group">
      <input type="text" formControlName="name" placeholder="Faculty Name" />
      <div class="form-error" *ngIf="formSubmitted && form.get('name').errors?.required">
        This field is required
      </div>
    </div>

    <button type="submit" >Save</button>
    
  </form>

  <button type="button" (click)="deleteFaculty()">Delete</button>
</div>
