.content {

    
    display: flex;

}
    .login-form {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    
        // background-color: whitesmoke;
        // // display: flex;
        // // flex-flow: column nowrap;
        // // flex: 1;
        // height: 400;
        // width: 700;
        // // margin: auto 0;
        // border-radius: 1.2rem;
    
        .form-group {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        
            
        }

        .signIn {
            margin-bottom: 1.3rem;
            margin-left: 9.6rem;
            padding-top: 40px;
            color: #8C55AA;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 23px;
            
        }
    
        input {
                width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        // margin-bottom: 20px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
        }

        button {
            cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }

    .registrate {
        font-family: 'Ubuntu', sans-serif;
        color:  #9C27B0;
        margin-left: 9.6rem;
        
    }
        
    }
