<div class="content">
    <div class="login-form">
            <form [formGroup]="form" (ngSubmit)="login()">
               
                <div class="form-group">
                    <!-- <label>Login</label> -->
                    <label class="signIn">Sign In</label>
                    <input type="text" formControlName="login" placeholder="Enter your login"/>
                </div>
                <div class="form-group">
                    <!-- <label>Password</label> -->
                    <input type="password" formControlName="password" placeholder="Enter your password"/>
                </div>
                <button type="submit">Log in</button>
                <a class="registrate" routerLink='/registration'>Register me</a>
            </form>
        </div>
</div>