<h3>List of faculties</h3>
<a routerLink="/faculties/faculty">Create faculty</a>
<div>
  <input type="text" class="faculty-search-input" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="search()" />
</div>
<ol>
  <li *ngFor="let faculty of facultiesToShow">
    <app-faculty-list-item [faculty]="faculty" (click)="facultyClicked(faculty)"></app-faculty-list-item>
  </li>
</ol>
