.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
    .header {
      min-height: 40px;
      background-color: var(--color-header);
    }
  
    .main {
      display: flex;
      flex-flow: row nowrap;
      flex: 1;
  
      .sidebar {
        background-color: var(--color-sidebar);
        flex: 0.3;
        border-right: 1px solid var(--color-sidebar-border);
  
        .nav {
          list-style: none;
          padding: 1rem 1.5rem;
  
          li {
            padding: 0.5rem 0;
          }
  
          a {
            text-decoration: none;
            color: var(--color-header);
          }
        }
      }
  
      .content {
        flex: 1;
        padding: 0.5rem 1rem;
      }
    }
  }
  